body{
	font-family:"Arial";
	padding:0;
	margin:0;
}

#header{
	width:100%;
	background: rgb(0,67,155);
	text-align:center;
}
#header #logo img{
	margin:0 auto;
}

#container{
	background: white;
	max-width:750px;
	margin:30px auto;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

div.text-content-window{
	height:300px;
	width:100%;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;padding:10px;
	text-align:left;
}
.consent-box{
	text-align: center;
	font-size:80%;
}